[submodule "esp32ahrs/components/esp_littlefs"]
	path = esp32ahrs/components/esp_littlefs
	url = https://github.com/joltwallet/esp_littlefs.git
[submodule "esp32ahrs/components/esp-idf-lib/i2cdev"]
	path = esp32ahrs/components/esp-idf-lib/i2cdev
	url = https://github.com/esp-idf-lib/i2cdev.git
[submodule "esp32ahrs/components/esp-idf-lib/mpu6050"]
	path = esp32ahrs/components/esp-idf-lib/mpu6050
	url = https://github.com/esp-idf-lib/mpu6050.git
[submodule "esp32ahrs/components/esp-idf-lib/qmc5883l"]
	path = esp32ahrs/components/esp-idf-lib/qmc5883l
	url = https://github.com/esp-idf-lib/qmc5883l.git
